.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin: auto;
  box-sizing: border-box;
}
.wrap > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.input-wrap {
  column-gap: 5px;
}
.input-wrap input {
  flex: 1;
}
.card-wrap {
  flex-direction: column;
  row-gap: 10px;;
}
.char_card {
  width: 100%;
  height: auto;
  min-height: 150px;
  border: 1px solid #cccccc;
  color: #444444;
  box-shadow: 0 3px 2px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.char_info {
  display: flex;
  align-items: center;
  column-gap: 15px;
  width: 100%;
  position: relative;
  margin-top: 25px;
  margin-bottom: 300px;
}

.char_info > .image {
  position: relative;
  width: 100px;
  height: 100px;
  min-width: 100px;
  border: 1px solid #cecece;
  border-radius: 5px;
  box-sizing: border-box;
}
.char_info > .image img {  
  width: 100%;
  height: 100%;
}
.char_info > .image .mark {
  position: absolute;
  display: inline-block;
  left: 0;
  bottom: -22px;
  font-size: 12px;
  font-weight: 600;
}

.char_info .info {
  width: 100%;
}

.char_info ul {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.char_info ul li[data-type="char-server"] {
  position: absolute;
  left: 0;
  top: -22px;
  font-size: 14px;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  column-gap: 3px;
}
.char_info ul li[data-type="char-name"] {
  font-weight: 800;
}
.char_info ul li[data-type="char-name"] span+span {
  font-size: 12px;
  font-weight: 500;
  margin-left: 3px;
}

.sub_title {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  margin-top: 10px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  cursor: pointer;
  padding: 0 5px;
  box-sizing: border-box;
}
.sub_menu {
  width: 100%;
  padding: 10px 8px;
  box-sizing: border-box;
  background-color: #efefef;
}

.guild_sub_title {
  font-weight: 700;
  margin: 5px 0;
}
.guild_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;  
  box-sizing: border-box;
}
.guild_info > span {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 5px;
}
.guild_info > span > span:first-child {
  width: 40px;
  border-right: 1px solid #cccccc;
}
.guild_nobless_skill {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-around; */
  align-items: center;
  text-align: center;
}
.guild_nobless_skill > div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.guild_nobless_skill > div > img {
  width: 32px;
  height: 32px;
}


.char_equipment > div {
  width: 100%;
  height: auto;
  color: #444444;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.char_equipment > div:last-child {
  margin-bottom: 0;
}
.char_equipment > div > span:first-child {
  width: 50px;
  min-width: 50px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
  border-right: 1px solid #cccccc;
}
.char_equipment > div > span+span {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  font-size: 12px;
}
.char_equipment > div i {
  margin-left: 3px;
}
.equip-detail {
  flex-direction: column;
    border: 1px solid #cecece;
    border-radius: 10px;
    padding: 7px 5px;
}
.equip-detail > div {
 display: flex;
 flex-direction: column;
 width: 100%;
 padding: 0 5px;
 box-sizing: border-box;
}
.equip-detail > div > span:first-child {
  font-weight: 700;
  margin: 5px 0;
}
.equip-detail > div > span:nth-child(n+2) {
  padding-left: 5px;
}

.char_ability {
  flex-direction: column;
}
.char_ability > div {
 display: flex;
 flex-direction: column;
 width: 100%;
 padding: 0 5px;
 box-sizing: border-box;
}
.char_ability > div > span:first-child {
  font-weight: 700;
  margin: 5px 0;
}
.char_ability > div > span:nth-child(n+2) {
  padding: 5px;
  font-size: 12px;
}
.char_ability > div > span[data-grade] {
  border: 1px solid #cccccc;
  margin-bottom: 5px;
}
.char_ability > div > span[data-grade="1"] {
  background-color: #6dff3f1a;
}
.char_ability > div > span[data-grade="2"] {
  background-color: #f5f9571a;
}
.char_ability > div > span[data-grade="3"] {
  background-color: #a754ff1a;
}
.char_ability > div > span[data-grade="4"] {
  background-color: #4cccff1a;
}

.char_cache_item > div {
  width: 100%;
  height: auto;
  color: #444444;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.char_cache_item > div:last-child {
  margin-bottom: 0;
}
.char_cache_item > div > span:first-child {
  width: 50px;
  min-width: 50px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
  border-right: 1px solid #cccccc;
}
.char_cache_item > div > span+span {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}

.char_stat > div:last-child {
  margin-top: 5px;
}
.char_stat > div:last-child button {
  width: 100px;
  height: 20px;
  background-color: #ffffff;
}
.char_stat > div {
  width: 100%;
  height: auto;
  color: #444444;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.char_stat > .list > div {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3px;
}

.union_sub_title {
  font-weight: 700;
  margin: 5px 0;
}
.union_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  box-sizing: border-box;
}
