.top {
  width: 100%;
  height: 250px;
  background: url('https://i.namu.wiki/i/yNeyT0MejUX1kHwlhAYLXBRclBx1JKIvM3w6hOpPzzQ0GYXyCn5pvwVO1ccIQovnWLzDjXTxKLMAitODN8jrAw.gif') no-repeat;  
  /* background-position: -50px -50px; */
  /* background-position: center -50px; */
  background-size: 100% 100%;
}

.remk {  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  padding-top: 10px;
}

.input-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5px;
  padding: 10px 20px;
  background-color: #000000;
  margin-bottom: 10px;
}
.input-wrap input {
  flex: 1;
}

.char-wrap {
  margin-bottom: 30px;
}

.char-wrap .char-image,
.char-wrap .char-name,
.char-wrap .char-info1,
.char-wrap .char-info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.char-wrap .char-image img {
  width: 120px;
  height: 120px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #999999;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(33,156,243,.5), 0 0 20px rgba(33,156,243,.5), 0 0 30px rgba(33,156,243,.5);
}

.char-wrap .char-name {
  height: 50px;
  font-size: 16px;
  font-weight: 800; 
  position: relative;
}

.char-wrap .char-name em {
  position: absolute;
  bottom: -5px;
  font-size: 13px;
  font-weight: 500; 
  font-style: normal;
  color: #cccccc;
}

.char-wrap .char-info1 {
  font-size: 14px;
  font-weight: 600; 
  column-gap: 10px;
  margin-bottom: 8px;
}

.char-wrap .char-info1 span {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}

.char-wrap .char-info2 {
  font-size: 13px;
  font-weight: 500;
  column-gap: 10px;
  color: #cccccc
}


.sub_title {
  width: 100%;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  margin-top: 20px;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  cursor: pointer;
  padding: 0 10px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px rgba(255,255,255,0.2);
}
.sub_menu {
  width: 100%;
  padding: 10px 8px;
  box-sizing: border-box;
}

.guild_sub_title {
  font-weight: 700;
  margin: 5px 0;
}
.guild_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;  
  box-sizing: border-box;
}
.guild_info > span {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  margin-bottom: 5px;
}
.guild_info > span > span:first-child {
  width: 40px;
  border-right: 1px solid #cccccc;
}
.guild_nobless_skill {
  display: flex;
  flex-wrap: nowrap;
  /* justify-content: space-around; */
  align-items: center;
  text-align: center;
}
.guild_nobless_skill > div {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}
.guild_nobless_skill > div > img {
  width: 32px;
  height: 32px;
}


.char_stat > div:last-child {
  margin-top: 5px;
}
.char_stat > div:last-child button {
  width: 100px;
  height: 25px;
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}
.char_stat > div {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.char_stat > .list > div {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 3px;
}

.union_sub_title {
  font-weight: 700;
  margin: 8px 0;
}
.union_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
  box-sizing: border-box;
}


.char_ability {
  flex-direction: column;
}
.char_ability > div {
 display: flex;
 flex-direction: column;
 width: 100%;
 padding: 0 5px;
 box-sizing: border-box;
}
.char_ability > div > span:first-child {
  font-weight: 700;
  margin: 5px 0;
}
.char_ability > div > span:nth-child(n+2) {
  padding: 5px;
  font-size: 12px;
}
.char_ability > div > span[data-grade] {
  height: 30px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 5px;
  box-sizing: border-box;
  font-weight: 700;
}
.char_ability > div > span[data-grade="1"] {
  background-color: #95fc76;
}
.char_ability > div > span[data-grade="2"] {
  background-color: #fbff00;
}
.char_ability > div > span[data-grade="3"] {
  background-color: #a160e7;
}
.char_ability > div > span[data-grade="4"] {
  background-color: #6dc8ec;
}


.char_skill > .skill_chasu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid #999999;
  cursor: pointer;
}
.char_skill > .skill_list {
  display: flex;
  flex-direction: column;
}
.char_skill > .skill_list > div {
  display: flex;
  column-gap: 10px;
  align-items: center;
  border-bottom: 1px solid #999999;
  padding: 10px 0;
}
.char_skill .skill_img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  row-gap: 5px;
  text-align: center;
}
.char_skill .skill_img > img {
  width: 32px;
  height: 32px;
}
.char_skill .skill_img > span {
  font-size: 12px;
}
.char_skill .skill_info {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  width: 80%;
}
.char_skill .skill_info div[data-type="skill_level"]{
  font-size: 12px;
}
.char_skill .skill_info div[data-type="skill_effect"]{
  font-size: 12px;
}
.char_skill .skill_info div[data-type="skill_description"]{
  font-size: 11px;
  white-space: pre-wrap;
  padding-top: 5px;
  border-top: 1px solid #999999;
}

.char_equipment > div {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}
.char_equipment > div:last-child {
  margin-bottom: 0;
}
.char_equipment > div > span:first-child {
  width: 50px;
  min-width: 50px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
  border-right: 1px solid #cccccc;
}
.char_equipment > div > span+span {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
  font-size: 12px;
}
.char_equipment > div i {
  margin-left: 3px;
}
.equip-detail {
  flex-direction: column;
    border: 1px solid #cecece;
    border-radius: 10px;
    padding: 7px 5px;
}
.equip-detail > div {
 display: flex;
 flex-direction: column;
 width: 100%;
 padding: 0 5px;
 box-sizing: border-box;
}
.equip-detail > div > span:first-child {
  font-weight: 700;
  margin: 5px 0;
}
.equip-detail > div > span:nth-child(n+2) {
  padding-left: 5px;
}



.char_cache_item > div {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.char_cache_item > div:last-child {
  margin-bottom: 0;
}
.char_cache_item > div > span:first-child {
  width: 50px;
  min-width: 50px;
  font-size: 12px;
  font-weight: 700;
  margin-right: 10px;
  border-right: 1px solid #cccccc;
}
.char_cache_item > div > span+span {
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}




.top-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #000000;
  background-color: #ffffff;  
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  border: 1px solid #999999;
  box-sizing: border-box;
}